.client-container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  .client-container h2{
    font-size: 50px;
    text-align: center;
    margin: 30px;
  }
  .slick-slide img {
    padding: 20px;
    width: 100%;
    margin: auto;
    height: auto;
    border-radius: 10px; 
  }


  @media (max-width: 750px) {
  .client-container {
    width: 100%;
  }

   .slick-slide {
    padding: 0 10px;
  }

  .slick-slide img {
    width: 100px;
    padding: 10px;
  }
}